
 @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


 html[lang="en"]{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--nato-font);
}

/*  */

h2 {
  font-family: var(--nato-font);
}



/*  */



/* about page start */
.ar_creat_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.ar_creat_nav li a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--nato-font)!important;

}
.ar_leagues_cont h2:after {
  width: 120px;
  position: sticky;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  text-align: center;
  clear: both;
  margin: 10px auto;
  display: block;
}
.ar_leagues_cont h2 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
  position: relative;
}

.ar_leagues_cont h3 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
  position: relative;
  font-family: var(--nato-font)!important;
}

.leagues_cont h3:after {
  width: 120px;
  position: sticky;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  text-align: center;
  clear: both;
  margin: 10px auto;
  display: block;
}

.ar_about_img{
  text-align: end;
}

.ar_about_contant h5{

  line-height: 37px;
  width: 545px;
  border-right: 4px solid var(--border-color);
  font-family: "Arial","sans-serif"!important;
  padding:0px 22px 0px 10px;
  font-weight: 400;
  margin-left: 10px;
}

.ar_Our_section {
  background: url(../img/ar-vm-bg.png) no-repeat center top;
  width: 100%;
  height: 483px;
  padding-top: 140px;
}

/* .ar_Our_section h4,p {
 font-family: var(--nato-font)!important;
} */
/* about page end */

/* definition page start */
span.ar_number_pass {
  background: var(--primary-color);
  margin-left: 13px;
  width: 35px;
  text-align: center;
  color: var(--there-color);
  display: inline-flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: var(--nato-font)!important;
}

.ar_defintion_contant h5 {
 font-family: var(--nato-font)!important;
}

.ar_defintion_contant h5 {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}


.ar_defintion_contant {
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;;
  height: 100%;
  margin: 0px 50px;
  padding-top: 50px;
}
/* definition page end */
@media (max-width: 767px) {
.ar_defintion_contant {
  margin: 0px 10px;
  padding-top: 40px;
}

.leagues_cont h3 {
  padding-bottom: 0px;

}

}

/* contact page css */

.ar_section_contact {
  background-image: url("../Ar.img/bback-ar-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 0;
}
.ar_conact_form .form-label {
  font-family: var(--nato-font);
  margin: 0;
  color: var(--there-color);
  font-size: 15px;
}






.ar_send_m {
  font-family: var(--nato-font);
}
.ar_main_contant h6 a {
  font-family: var(--nato-font);
}
.ar_red_button a {
  font-family: var(--nato-font);
}
.more_button {
  font-family: var(--nato-font);
}



.ar_footer_menu li a {
  font-family: var(--nato-font);
  color:  var(--there-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
}
.ar_media li {
  font-family: var(--nato-font);
}

.ar_dropdown_press {
  border-left: none !important;
  border-right: 4px solid red;
}

.ar_footercontantin p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color:  var(--there-color);
  font-family: var(--nato-font);
}

button.ar_button_search {
  background-color:  var(--primary-color);
  border: none;
  line-height: 1;
  color:  var(--there-color);
  font-size: 14px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
  position: relative;
  z-index: 9;
  float: right;
  margin-top: 0;
  width: 100px;
  line-height: 54px;
  position: absolute;
  left: 0;
  font-family: var(--nato-font);
}

.ar_footer_menu li a {
  color:  var(--there-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  font-family: var(--nato-font);
}

.ar_last_footer p {
  font-size: 13px;
  text-transform: capitalize;
  color:  var(--there-color);
  font-weight: normal;
  text-align: center;
}
.ar_last_footer p a {
  color:  var(--there-color);
  position: relative;
}
.ar_last_footer p a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background:  var(--there-color);
  left: 0;
  bottom: 0;
}

.ar_media li a {
  margin: 0 !important;
  padding: 0;
  margin-bottom: 8px !important;
  font-size: 13px;
  color: var(--there-color);
}
.ar_media{
  margin: 0 !important;
  padding: 0;
  margin-bottom: 8px !important;
  font-size: 13px;
  color: var(--there-color);
}


.ar_line {
  border-left: 1px solid #6a6b89;
}

.ar_send_m {
  border: 1px solid #790019;
  width: 100%;
  padding: 10px 0;
  background: #790019;
  color: var(--there-color);
  margin-top: 20px;
  font-family: var(--nato-font);
}

.ar_more_button {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--there-color);
  padding: 10px 20px;
  text-transform: capitalize;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--nato-font);
}

.ar_spc_button {
  background-color: var(--there-color);
  color: var(--primary-color);
  text-transform: uppercase;
  width: 244px !important;
  float: none;
  text-align: center;
  padding: 14px 0;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  clear: both;
  font-family: var(--nato-font);
}
/* ul.ar_creat_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
 */
 .ar_hero_about {
  background-image: url(../img/about-header.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ar_bread_crumb {
  padding: 20px 0;
}
.ar_section-reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.ar_main_leagues.one {
  padding: 50px 0;
}

.ar_creat_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.ar_creat_nav li a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 14px;
}
.ar-table-deta table.aline_table thead tr th:nth-child(2) {
  border: none !important;
  text-align: right;
  /* padding-left: 40px; */
}


.ar_team-btn a {
  width: 182px;
  height: 51px;
  background: var(--primary-color);
  float: left;
  text-align: center;
  line-height: 51px;
  color: var(--there-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid transparent;
}
.ar_team-btn a:hover {
  background: var(--there-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}


.ar-table-deta ul.in-footer {
  display: flex;
  justify-content: space-around;
 
  text-align: right;
  padding-right: 50px;
}

.leagues_cont_ar h2 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
  position: relative;
}

.leagues_cont_ar h2:after {
  width: 120px;
  position: sticky;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  text-align: center;
  clear: both;
  margin: 10px auto;
  display: block;
}
.leagues_cont_ar {
  padding-top: 12px;
}

.ar_about_contant h5 {
  line-height: 37px;
  width: 545px;
  border-right: 4px solid var(--border-color);
  padding-left: 22px;
  font-weight: 400;
  margin-left: 10px;
}
.ar_defintion_r {
  padding-bottom: 50px;
}
.ar_laelcolor .form-label {
  margin-bottom: 10px;
}
.ar_conact_form .form-label {
  font-family: var(--nato-font);
  color: var(--there-color);
  font-size: 15px;
}

.ar_conact_form {
  padding: 40px 0;
}

.ar_right_border {
  display: flex;
  flex-direction: row-reverse;
}

.ar_right_border h5 {
  line-height: 37px;
  width: 545px;
  border-right: 4px solid var(--border-color);
  padding-right: 22px;
  font-weight: 400;
  margin-left: 10px;
  font-family: "Arial","sans-serif"!important;
}
.ar_abo_section {
  padding-bottom: 50px;
}

.ar_our_contant h4 {
  color: var(--there-color);
  font-weight: 600;
}
.ar_our_contant p {
  color: var(--there-color);
  margin-bottom: 24px;
  line-height: 25px;
}