html[lang="en"] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
h2 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
   
}

h3 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
h4 {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
}

h5 {
    margin: 0px;
    padding: 0px;
    font-size: 23px;
}
h6 {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;

}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: var(--there-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
}

:root {
    --primary-color: #f20032;
    --secondary-color: #000;
    --there-color: #ffffff;
    --text-color: #040525;
    --back-g-color: #f5f5f5;
    --border-color:#d50006;
    --nato-font:'Noto Kufi Arabic';
    /* Add more colors as needed */
  }

/* button */
.spy_button {
    padding: 10px 40px;
    border: none;
    background-color: var(--text-color);
    color: var(--there-color);
    border-radius: 7px;
    font-size: 18px;
}
.spy_button:hover {
    background-color: var(--primary-color);
    color: var(--there-color);
}


/* button */
.spc_button {
    background-color: var(--there-color);
    color: var(--primary-color);
    text-transform: uppercase;
    width: 244px !important;
    float: none;
    text-align: center;
    padding: 14px 0;
    border: 2px solid var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    clear: both;
}
.sp_botton {
    padding-top: 50px;
}
._2p3a {
    width: 100% !important;
}
.iframe {
    width: 800px !important; /* Width as per your requirements */
  }
/* button */




/* top header css */
.es_media {
    display: flex;
    gap: 12px;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
}

.es_topheader {
    background-color: var(--secondary-color);
    padding: 10px 0;
    position: fixed;
    top:0;
    width:100%;
    z-index: 2;
}

img.brand-rearth {
    padding: 0px 6px;
}

.ar_icon a {
    color:  var(--there-color);
}
.es_media li a i {
    background-color: var(--primary-color);
    color:  var(--there-color);
    width: 20px !important;
    float: left;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.estest {
    /* line-height: 28px; */
    padding-top: 3px;
}
.sticky-top {
    position: absolute;
    top: 43px;
    /* background-color: #000; */
    border-top: 1px solid #524f4f;
    width: 100%;
}

.esmenuitem.navbar-nav a {
    color:  var(--there-color) !important;
    display: block;
    position: relative;
    /* padding: 9px 26px !important; */
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

ul.en_media li a {
    color:  var(--there-color);
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;
    padding: 0px 0px 7px 5px;
    float: left;
    text-decoration: underline;
}
.en_drop_item li a {
    padding: 5px 0;
}

/* dropdwon css */


.esmenuitem .en_leagues_nav:hover .en_dropdown-content {
    display: block !important;
}
.esmenuitem .en_leagues_nav .en_dropdown-content {
    display: none;
}
.esmenuitem .en_leagues_nav .en_dropdown-content a {
    color: #040404 !important;
}
.en_leagues_nav .en_dropdown-content {
    position: absolute;
    left: 0;
    width: 500px;
    background: var(--there-color);
    top: 39px;
    border-left: 5px solid var(--primary-color);
}
.en_h_drop {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

ul.en_drop_item li a span img {
    height: 40px;
}
.en_drop_item {
    width: 50%;
}
ul.en_drop_item li a {
    /* background: red; */
    border-bottom: 1px solid  var(--primary-color);
    /* width: 77%; */
    margin: 8px 8px;
}
ul.en_drop_item li a {
    /* padding: 11px 0px !important; */
    padding-left: 0px !important;
}
ul.en_drop_item li a span img {
    padding-right: 10px;
}
/* top header css end */

/* footer css start */
.en_footer.ar_footer {
    background-color: var(--text-color);
    padding: 35px 0;
}

ul.en_footer_menu.ar_footer_menu li a {
    color:  var(--there-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
}
.en_footercontantin p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color:  var(--there-color);
}
ul.en_media li {
    display: flex;
    margin: 0;
    padding: 0;
}

ul.en_media {
    margin: 0 !important;
    padding: 0;
    margin-bottom: 8px !important;
    font-size: 13px;
    color:  var(--there-color);
}

.enfooter {
    justify-content: start;
    margin: 0;
    padding: 0;
}
.enfooter li a {
    padding-left: 0 !important;
}

button.button_search {
    background-color:  var(--primary-color);
    border: none;
    line-height: 1;
    color:  var(--there-color);
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    z-index: 9;
    float: right;
    margin-top: 0;
    width: 100px;
    line-height: 54px;
    position: absolute;
    right: 0;
}
input.search_bar_input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color:  var(--there-color);
    padding: 0;
    height: 54px;
    color: var(--text-color);
    padding-left: 15px;
    width: 100%;
    border-bottom: 0;
}
.en_button_search_bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 22px;
}
.en_line {
    border-right: 1px solid #6a6b89;
}
.en_footer_menu {
    margin: 0;
    padding-left: 15px;
}
.en_footercontantin {
    padding-left: 20px;
}

.last_to_footer {
    background-color:  var(--primary-color);
    padding: 10px 0;
}
.last_footer p {
    font-size: 13px;
    text-transform: capitalize;
    color:  var(--there-color);
    font-weight: normal;
    text-align: center;
}
.last_footer p a {
    color:  var(--there-color);
    position: relative;
}
.last_footer p a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background:  var(--there-color);
    left: 0;
    bottom: 0;
}
.iconhover li a i:hover {
    background-color: var(--there-color);
    color: var(--primary-color);
}


/* footer css end */
/* header slider */
.image_sty {
    height: 70vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
}
.clscomimage img {
    width: auto !important;
    height: 150px !important;
    text-align: center !important;
    margin: 0 auto !important;
}
.en_fis_slider {
    background-image: url(../img/header-01.jpg);
   
}

.en_sec_slider {
    background-image: url(../img/header-03.jpg);
  
}



.en_there_slider {
    background-image: url(../img/header-02.jpg);
  
}

/* img.en-bc-image-left-side {
    width: 180px;
}

.en-header-image-right-side {
    width: 166px;
    float: right;
}

img.en-fc-image-left-side {
    width: 100px;
}
.en-header-image-left-side {
    width: 100px;
    float: left;
} */

.en_slider_contant_text h1 {
    color:  var(--there-color);
    text-align: center;
    margin-bottom: 40px;
}

.more_button {
    background-color:  var(--primary-color);
    cursor: pointer;
    color:  var(--there-color);
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.en_slider_contant_text {
    text-align: center;
}

.ft_icon .slick-slider.slick-initialized  .slick-arrow.slick-next {
    position: absolute;
    right: 20px;
}
.ft_icon .slick-slider.slick-initialized  .slick-arrow.slick-prev {
    position: absolute;
    z-index: 1;
    left: 20px;
}
.ft_icon .slick-dots {
    position: absolute;
    bottom: 20px;
}


.ft_icon .slick-dots li button:before {
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #ffffff80 !important;
}


img.en-sec-image-left-side {
    width: 175px;
}

img.en-sec-image-right-side {
    width: 128px;
    float: right;
}
/* header slider */


.sticky-header {
    position: fixed;
    width: 100%;
    background-color:  var(--there-color);
    z-index: 1000; 
  }
  .sticky-header {
    background-color: var(--secondary-color);
}

.spc_button:hover {
    background-color: var(--primary-color);
    color: var(--there-color);
}
/* leaues section css */

.slider_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_box img {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
}

.leagues_cont h2 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 40px;
    position: relative;
}

.leagues_cont h2:after {
    width: 120px;
    position: sticky;
    content: '';
    background-color: var(--primary-color);
    height: 3px;
    text-align: center;
    clear: both;
    margin: 10px auto;
    display: block;
}
section.leagues_section {
    padding: 70px 0;
}


/* leaues section css end */

/* iframe css start */
.en_ifarme_fb {
    background-color: var(--back-g-color);
    width: 100%;
    padding: 60px 0 40px 0;
}

/* iframe css start */

/* login page css start */
.en_hero_image {
    background-image: url(../img/header-01.jpg);
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.en_bckg {
    background-image: url(../img/pexels-wallace-chuck.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.en_login_contant {
    padding: 180px 50px;
}

.en_login {
    padding: 100px 0;
}
.en_login_box {
    box-shadow: 0px 0px 10px -1px;
    margin: 0px 120px;
}

.password_formt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.password_formt a {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: underline;
}
.password_formt a:hover {
    color: var(--primary-color);
}



/* login page css end */

/* signup page css start */

.en_login_signup {
    padding: 70px 30px;
}

/* signup page css end */

/* forgot password css start */

.en_forgotpass {
    padding-bottom: 40px;
}

/* forgot password css end  */

/* about page css start */

.en_hero_about {
    background-image: url(../img/about-header.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.en_creat_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.en_creat_nav li a {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 14px;
}
.en_bread_crumb {
    padding: 20px 0;
}

.en_about_contant h5 {
    line-height: 37px;
    width: 545px;
    border-left: 4px solid var(--border-color);
    padding-left: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.en_Our_section {
    background-image: url(../img/vm-bg.png);
    height: 483px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-left: 130px;
   
}

.en_our_contant h4 {
    color: var(--there-color);
    font-weight: 600;
}
.en_our_contant p {
    color: var(--there-color);
    margin-bottom: 24px;
    line-height: 25px;
}
/* about page css end */

/* cafe css start */

.en_cafe_contant {
    text-align: center;
    padding: 0px 85px 0 85px;
}
.en_cafe_contant p {
    padding-bottom: 30px;
}

.en_blog_img {
    width: 100%;
}


.en_main_contant h6 a {
    color: var(--secondary-color);
    position: relative;
}
.en_main_contant h6 a:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    bottom: -7px;
    background-color: var(--primary-color);
    left: 0;
}
.en_main_contant h6 a:hover {
    color: var(--primary-color);
}
.en_bolg_date {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 20px 0;
}
.en_bolg_date p i {
    color: var(--primary-color);
    font-size: 19px;
}
.en_red_button a {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 0;
    display: block;
}


.en_blog_main {
    padding: 0px 50px;
}
.en_pagintion {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.en_pagintion .pagination li a:hover {
    background-color: var(--primary-color);
    color: var(--there-color);
}

.en_pagintion .pagination li a {
    background-color: var(--back-g-color);
    color: var(--secondary-color);
    font-size: 16px;
    padding: 10px 20px;
}
.en_abo_section {
    padding-bottom: 50px;
}
/* cafe css end*/

/* definition css start */
span.en_number_pass {
    background: var(--primary-color);
    margin-right: 13px;
    width: 35px;
    text-align: center;
    color: var(--there-color);
    display: inline-flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.en_defintion_contant h5 {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}


.en_defintion_contant {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;;
    height: 100%;
    margin: 0px 50px;
    padding-top: 50px;
}
.en_defintion_contant p{
    font-family: 'Poppins', sans-serif!important;
}

.en_defintion_r {
    padding-bottom: 50px;
}
.leagues_cont {
    padding-top: 12px;
}

/* definition css end */

/* contact css start */
.en_section_contact {
    background-image: url(../img/bback-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px 0;
   
}

.en_contact_contant {
    padding-left: 30px;
}

.en_contact_contant h4 {
    color: var(--there-color);
}


.en_conact_form .form-label {
    margin: 0;
    color: var(--there-color);
    font-size: 15px;
}
sss
.en_send_m {
    border: 1px solid #790019;
    width: 100%;
    padding: 10px 0;
    background: #790019;
    color: var(--there-color);
    margin-top: 20px;
}

.en_send_m:hover {
    border: 1px solid var(--there-color);
    background-color: var(--primary-color);
}

/* contact css start */

/* premier league css start */
.en-leagues-text p {
    font-size: 16px;
    line-height: 23px;
}

.en_main_leagues.one {
    padding: 50px 0;
}

.en-leagues-img {
    text-align: center;
}


/* premier league css end */

/* premier leadgueague table css start */

.en_table_text h6 {
    text-align: center;
    color: var(--primary-color);
}

.en_table_text {
    padding-bottom: 35px;
}

table.aline_table tbody td {
    vertical-align: middle !important;
}

table.aline_table, thead, th, tbody, tr, td {
    border: 1px solid #d7d7d7;
    text-align: center;
}

table.aline_table thead tr th {
    background: var(--text-color);
    border: 2px solid var(--there-color);
    color: var(--there-color);
    padding: 8px;
    text-align: center;
    width: 100px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
}


table.aline_table thead tr th:nth-child(1) {
    border: none;
    width: 50px;
}

table.aline_table thead tr th:nth-child(2) {
    border: none !important;
    text-align: left;
    /* padding-left: 40px; */
}
tbody.team_poin tr td:nth-child(1) {
    border: none !important;
    text-align: center;
}

tbody.team_poin tr td:nth-child(2) {
    width: 270px;
    border: none !important;
}

span.toearth {
    color: var(--primary-color);
}
tr.filter td:nth-child(1) {
    text-align: left;
    padding: 9px 10px;
}


tr.filter td:nth-child(2)  {
    text-align: right;
    padding: 9px 10px;
}
.dropdown_filter {
    position: relative;
    display: inline-block;
}


.dropdown_filter button {
    border: 1px solid #b8b6b7;
    background: white;
    width: 140px;
    text-align: left;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


.dropdown_filter .dropdown-content {
    display: grid;
    width: 140px;
    text-align: left;
    background: #fbfbfb;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
}
.dropdown-content a {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: black;
    font-size: 14px;
}
.dropdown_filter:hover .dropdown-content {
    display: block;
}
.dropdown_filter .dropdown-content {
    display: none;
}
.dropdown-content a {
    display: block;
}
.dropdown_filter {
    margin:0px 16px;
}

.team-btn a {
    width: 182px;
    height: 51px;
    background: var(--primary-color);
    float: right;
    text-align: center;
    line-height: 51px;
    color: var(--there-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid transparent;
}
.team-btn a:hover {
    background: var(--there-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

td.imagetext_city {
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
    gap: 12px;
}

img.logo-rearth-table {
    width: 45px;
}

tbody.team_poin {
    background: #f9f9f9;
}
.en-table-deta.ar-table-deta {
    height: 75vh;
    overflow: overlay;
}
/* table.aline_table thead {
    position: sticky;
    top: 0;
    z-index: 999;
} */

.team-btn-one {
    text-align: left;
}

.compare-link {
    float: left;
}


ul.in-footer {
    display: flex;
    justify-content: end;
    gap: 70px;
    text-align: left;
    padding-right: 50px;
}
tr.filter-fir {
    background: var(--text-color);
    color: var(--there-color)
}
ul.in-footer li p {
    font-weight: 600;
    color: var(--there-color);
    font-size: 16px;
}

ul.in-footer li h6 {
    font-size: 16px;
}

ul.in-footer li h6 span {
    color: #b2c605;
    font-size: 24px;
}

tr.filter-fir {
    position: sticky;
    bottom: 0;
}

.league_table {
    padding-bottom: 50px;
}

.ifr-section {
    background: #f5f5f5;
    padding: 60px 0 40px 0;
}


/* premier leadgueague table css start */


/*  */

.letball {
    padding-left: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.letball li {
    list-style: auto;
}

.infocation-site {
    padding-left: 45px;
    padding-top: 15px;
}

.infocation-site li {
    list-style: lower-alpha;
}


/* chart css 16-11-23  start*/
.chart-areaa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-press {
    padding: 25px 0;
}

.recharts-default-legend {
    display: none;
}
.premier-textare h3 {
    text-align: center;
    padding-bottom: 20px;
}



/* chart css 16-11-23  start*/


/* team delails */
.imageline {
    border-right: 1px solid #cdced8;
}
.livepool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
}


table.aline_tablel, thead, tr, th:nth-child(1) {
    text-align: center;
}

td.imagelive_city span {
    display: block;
    text-align: center;
}

table.aline_tablel tbody td {
    vertical-align: middle !important;
    text-align: center;
    font-size: 14px;
}

table.aline_tablel thead tr th {
    background: var(--text-color);
    border: 2px solid var(--there-color);
    color: var(--there-color);
    padding: 20px 5px;
    text-align: center;
    width: 100px;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 600;
}

.chart-opt-table h5 {
    text-align: center;
    font-weight: 600;
}

.linechart svg {
    width: 100%;
}
.linechart {
    width: 100% !important;
}

.chart-opt-table {
    padding: 25px;
    border: 1px solid #cdcdcd;
    height: 100%;
}

/* team delails */


/*Team Comparision start  */

.main-compari-select {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.compari-logo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.en-right-line {
    border-right: 1px solid #bfbaba;
}

/* .form-select {
    width: 520px;
    max-width: 520px;
    min-width: 520px;
} */
.chart-compari {
    padding-bottom: 60px;
}
/*Team Comparision css end  */


/* new css */
.img-premier-press {
    width: 100%;
}
.en_drop_item li a {
    font-size: 13px !important;
}

/* new css */

.data-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}
.custom-select select {
    width: 250px;
    padding: 6px 6px;
}
.data-filter p {
    margin: 0;
    padding: 0;
}

.filter-part {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}


/* new css by cR 15/12/23 */

.en-team-table-deta{
    overflow: overlay;
}

.team-aline_table thead tr th {
    background: var(--text-color);
    /* border: 2px solid var(--there-color); */
    color: var(--there-color);
    padding: 7px 4px;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    width: 50px !important;
}
tbody.team_poin-table tr td {
    background: #f6f7f8;
}
.chart-team-table h5 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.border-table-team {
    border: 1px solid #cecece;
}

.team-main-table.chartteamcom {
    border: 1px solid #cecece;
}

.team-main-table.chartteamcom {
    margin: 40px 0;
}

.mobile-responsive {
    display: none;
}

table.team-aline_table thead tr th {
    width: 100px;
}

/* new css by cR 15/12/23 */

/* 

#chartdiv {
    width: 100%;
    height: 500px;
  } */




.inside-filter span {
    font-size: 22px;
}
.inside-filter {
    display: flex;
    align-items: center;
}
  
.chart-border-toll {
    padding: 40px 20px;
    border: 1px solid #ebebeb;
}

.en_right_border {
    display: flex;
    flex-direction: row-reverse;
}

.en_right_border h5 {
    line-height: 37px;
    width: 545px;
    border-right: 4px solid var(--border-color);
    padding-right: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.section-cetalog {
    border: 1px solid #d1d1d1;
    padding: 10px 20px;
    height: 120px;
    overflow-y: scroll;
}